<div class="text-center" id="content">
  <form class="form-signin">
    <!--    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Заполните форму или нажмите на изображение </h1>
    <a id="hiddenButton" style="margin: auto" class="hiddenButton" (click)="click('form')">{{formName}} Form</a>
<!--    <button id="hiddenCanvas" style="margin: 2px" type="button" class="btn btn-outline-primary hiddenButton" (click)="click('canvas')">Graphic</button>-->
    <form id="form">
          <label for="x_in">Введите x:</label><br>
          <input type="text" id="x_in" placeholder="(-3, 3)" maxlength="5" #x_in (input)="graphic.moveDot(x_in.value, y_in.value, r_in.value)"/><br>
          <label for="y_in">Введите y:</label><br>
          <input type="text" id="y_in" placeholder="(-3, 3)" maxlength="5" #y_in (input)="graphic.moveDot(x_in.value, y_in.value, r_in.value)"/><br>
          <label for="r_in">Введите r:</label><br>
          <input type="text" id="r_in" placeholder="(-3, 3)" maxlength="5" #r_in (input)="graphic.moveDot(x_in.value, y_in.value, r_in.value)"/><br><br>
          <div style="text-align: center">
            <button id="send" style="margin: 2px" type="button" class="btn btn-outline-primary" (click)="this.clickButton()">Send</button>
            <button id="clear" style="margin: 2px" type="button" class="btn btn-outline-primary">Clear</button>
          </div>
    </form>
    <br>
    <a id="hiddenCanvas" style="margin: auto; text-align: center"  class="hiddenButton" (click)="click('canvas')">{{canvasName}} Graphic</a>
    <br>
    <app-graphic #graphic (click)="graphic.canvasClick(r_in.value, x_in, y_in, r_in)"></app-graphic>
    <br>
    <table id="main-table" class="table">
          <tr>
            <th>X</th>
            <th>Y</th>
            <th>R</th>
            <th>Result</th>
          </tr>
    </table>
    <div><br></div>
<!--    <footer class="mastfoot mt-auto shadow-lg bg-white">-->
<!--      <div class="inner">-->
<!--        <a href="https://github.com/ImLena/WebLab_4"><img style="width: 50px" src="https://cdn.icon-icons.com/icons2/509/PNG/512/Github_icon-icons.com_49946.png" alt="github"></a><br>-->
<!--              &copy; 2020-->
<!--      </div>-->
<!--    </footer>-->
  </form>
</div>

<footer class="mastfoot mt-auto shadow-lg bg-white" style="text-align: center">
  <div class="inner">
    <a href="https://github.com/ImLena/WebLab_4"><img style="width: 50px" src="/assets/images/icon.png" alt="github"></a><br>
    &copy; 2020
  </div>
</footer>


